<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.olive.pets">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/happy_dog"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >
        <activity
            android:name=".MainActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BLE.BluetoothActivity" />
        <activity android:name=".DailyReportActivity" />
        <activity android:name=".SettingActivity"/>
        <activity android:name=".Developer_info"/>
        <activity android:name=".Profile.DogProfileListActivity"/>
        <activity android:name=".Profile.DogProfileEditActivity"/>
        <activity android:name=".Tutorial.InitDogProfileActivity"/>
        <activity android:name=".Tutorial.IntroActivity"/>
        <activity android:name=".Tutorial.Q1Activity"/>
        <activity android:name=".Tutorial.CollectTrainingSetActivity"/>




    </application>

</manifest>